<!DOCTYPE html>
<html>
  <head>
    <title>String-It</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" type="image/x-icon" href="<%= image_url('tennis-ball-yellow.png') %>">
    <link rel="stylesheet" href="https://unpkg.com/react-table@latest/react-table.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oxygen|Poppins|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript">
      window.logoURL = "<%= image_url('string-it-logo.png') %>"
      window.grayRacketURL = "<%= image_url('gray-racket.png') %>"
      window.userShareURL = "<%= image_url('user-info-share.png') %>"
      window.shopURL = "<%= image_url('shop.png') %>"
      window.graphURL = "<%= image_url('graph.png') %>"
      window.orderURL = "<%= image_url('order-icon.png') %>"
      window.racketIconURL = "<%= image_url('racket-icon.png') %>"
      window.ordersIconURL = "<%= image_url('orders.png') %>"
      window.stringIconURL = "<%= image_url('string-icon.png') %>"
      window.profileIconURL = "<%= image_url('profile-icon.png') %>"
      window.recycleBinIconURL = "<%= image_url('recycle-bin.png') %>"
      window.defaultProfilePhotoURL = "<%= image_url('default_profile_pic.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
