<!DOCTYPE html>
<html>
  <head>
    <title>CTC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" type="image/x-icon" href="<%= image_url('tennis-ball-yellow.png') %>">
    <link rel="stylesheet" href="https://unpkg.com/react-table@latest/react-table.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oxygen|Poppins|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script type="text/javascript">
      window.tennisBallLogoURL = "<%= image_url('tennis-ball-logo.png') %>"
      window.logoURL = "<%= image_url('string-it-logo.png') %>"
      window.whiteRacketURL = "<%= image_url('white-racket.png') %>"
      window.racketIconURL = "<%= image_url('racket-icon.png') %>"
      window.ordersIconURL = "<%= image_url('orders.png') %>"
      window.stringIconURL = "<%= image_url('string-icon.png') %>"
      window.profileIconURL = "<%= image_url('profile-icon.png') %>"
      window.recycleBinIconURL = "<%= image_url('recycle-bin.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
